<mat-card>
  <mat-card-title>Planner</mat-card-title>
  <mat-card-content>
    <app-tree></app-tree>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>{{ title | async }}</mat-card-title>
  <mat-card-content>
    <app-calendar [rosters]="rosters" [select]="select" [start]="first" header="true"></app-calendar>
    <app-calendar [rosters]="rosters" [select]="select" [start]="second"></app-calendar>
    <app-calendar [rosters]="rosters" [select]="select" [start]="third" footer="true"></app-calendar>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Day Roster</mat-card-title>
  <mat-card-subtitle>{{ start | async | date: 'EEEE, MMMM d' }}</mat-card-subtitle>
  <mat-card-content>
    <app-roster></app-roster>
  </mat-card-content>
</mat-card>
