table {
    width: 100%;
    line-height: 16px;
}
.right-adjust {
    text-align: right;
}
.mat-toolbar {
    font-size: 16px;
    font-weight: normal;
    min-height: 70px;
}
.menu-button {
    line-height: normal;
    padding: 10px;
}
.caption {
    font-size: 13px;
    font-weight: bold;
}
.sub-caption {
    font-size: 10px;
    margin-top: -2px;
}