<mat-toolbar>
  <table>
    <tr>
      <td>
        <table>
          <tr class="compressed">
            <td>
              <div class="caption">{{ clock | async | date:'EEEE, MMMM d, y, h:mm a' }}</div>
              <div class="sub-caption">Last Update: {{ timeStamp | async | date: 'shortTime' }}</div>
            </td>
            <td>
              <button mat-icon-button (click)="refresh()" [disabled]="(status | async) !== 'STATUS_READY'">
                <mat-icon>refresh</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </td>
      <td class="center">
        <h1>Work Schedule</h1>
      </td>
      <td class="right">
        <button mat-raised-button class="menu-button" [matMenuTriggerFor]="logout">
          <table>
            <tr>
              <td class="caption">{{ username | async }}</td>
            </tr>
            <tr>
              <td class="sub-caption">[{{ environment | async }}]</td>
            </tr>
          </table>
        </button>
        <mat-menu #logout="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="signout()">
            <mat-icon style="color:red">clear</mat-icon>
            Sign Out
          </button>
        </mat-menu>
      </td>
    </tr>
  </table>
</mat-toolbar>